<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 상세보기</title>
<link rel="stylesheet"  th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>Posts</h2>
			<table class="tableList">
				<thead>
					<tr>
						<th>No. </th>
						<th>Title </th>
						<th>Content </th>
						<th>Created Date </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.id}"></td>
<!-- 					<td th:text="${board.title}"></td> -->
						<td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
						<td th:text="${board.content}"></td>
						<td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>	
				</tbody>
			</table>
			<div class="btns">
				<a th:href="@{/}"><button>Home</button></a>
			</div>
	</div>
</body>
</html>