<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 상세보기(관리)</title>
<link rel="stylesheet"  th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>User Detail</h2>
			<div class="detail">
				<fieldset>
					<ul>
					  <li> 
					  	<label for="memberEmail">Email</label>
					  	<input type="text" name="memberEmail" id="memberEmail" th:value="${member.memberEmail}" readonly>
					  </li> 
					  <li> 
					  	<label for="memberPassword">Password</label>
					  	<input type="password" name="memberPassword" id="memberPassword" th:value="${member.memberPassword}" readonly>
					  </li>
					  <li> 
					  	<label for="memberName">Name</label>
					  	<input type="text" name="memberName" id="memberName" th:value="${member.memberName}" readonly>
					  </li>
					  <li> 
					  	<label for="memberAge">Age</label>
					  	<input type="text" name="memberAge" id="memberAge" th:value="${member.memberAge}" readonly>
					  </li>
					  <li> 
					  	<a th:href="@{/member/list}" class="btns"><button type="button">Back</button></a>
					  </li>
					</ul>
				</fieldset>
			</div>
	</div>
</body>
</html>