<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet"  th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>Join us!</h2>
		<form th:action="@{/member/join}" method="post" class="joinForm">
			<fieldset>
				<ul>
				  <li> 
				  	<label for="memberEmail">Email</label>
				  	<input type="text" name="memberEmail" id="memberEmail">
				  </li> 
				  <li> 
				  	<label for="memberPassword">Password</label>
				  	<input type="password" name="memberPassword" id="memberPassword" >
				  </li>
				  <li> 
				  	<label for="memberName">Name</label>
				  	<input type="text" name="memberName" id="memberName" >
				  </li>
				  <li> 
				  	<label for="memberAge">Age</label>
				  	<input type="text" name="memberAge" id="memberAge" >
				  </li>
				  <li> 
				  	<input type="submit" value="Join">
				  	<input type="reset" value="Cancel">
				  </li>
				</ul>
			</fieldset>
		</form>
	</div>
</body>
</html>