<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AuthDenied Page</title>
<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- header.html 연결 -->
	<div th:replace="~{/layout/header::header-fragment}"></div>
		<div class="admin-h3">
			<h3>권한이 없습니다. 다른 메뉴를 사용해주세요.</h3>
		</div>
		
	<!-- footer.html 연결 -->
	<div th:replace="~{/layout/footer::footer-fragment}"></div>
	
</body>
</html>