@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,400;0,500;1,700&display=swap');

#container{width:100%; margin: 0 auto;}
a{text-decoration:none;}
h2{color : gray; text-align:center; margin:0; margin-bottom:10px; font-family: 'Mali', cursive;}
#container .title-H2{margin-top:20px;}
ul li{list-style:none;}
input{
	border:none;
	border-radius: 20px;
    padding: 5px 25px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
.btns{text-align:center; margin-top:25px; display:flex; justify-content: space-evenly; }

.btns button{
	font-family: 'Mali', cursive;
	font-weight:bolder;
	color:gray;
	border:none;
	border-radius: 20px;
    padding: 5px 25px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   }
.btns button:hover{color:orange; cursor:pointer;}
label{margin-right: 10px;}

/* accessDenied.html */
.admin-h3{color : gray; text-align:center; margin:0; margin-bottom:10px;}

/* index.html */
.main-img{text-align:center;}
.menu{display:flex; justify-content: space-evenly; margin-bottom:25px;}
.weather{
	margin:0;
	display:flex;
	justify-content: center;
    align-items: center;}
.weather h3{color: #575757; font-family: 'Mali', cursive; font-weight:400; margin-top:0;}
.weather .result{margin-top: 0; font-family: 'Mali', cursive; }

#weather-info{
	width:80%;
	margin:0 auto;
	border:1px solid lightgray; 
	display:flex;
	flex-direction: column;
    align-items: center;
	}
	
#weather-info h3{color: #575757; font-family: 'Mali', cursive;}
#btn1{font-family: 'Mali', cursive;
	font-weight:bolder;
	color:gray;
	border:none;
	border-radius: 20px;
    padding: 5px 25px;
    background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253) );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}


/* join.html */
.joinForm{width:80%; margin:0 auto;}
fieldset{display:flex; 
		justify-content: center; 
		background: linear-gradient(to top, rgb(210, 210, 210), rgb(253, 253, 253));
		border-radius: 20px;
		}
fieldset ul{
	display:flex; 
	align-items: flex-end;
	flex-direction: column;
	padding:0; 
	}
fieldset ul li{margin:8px; }
fieldset ul li label{font-weight:bolder; color:gray; font-family: 'Mali', cursive;}
input[type="submit"]{font-weight:bolder; color:gray; font-family: 'Mali', cursive;}
input[type="submit"]:hover{color:orange; cursor: pointer; }
input[type="reset"]{font-weight:bolder; color:gray; font-family: 'Mali', cursive;}
input[type="reset"]:hover{color:orange; cursor: pointer;}
input[type="file"]{font-weight:bolder; color:gray; font-family: 'Mali', cursive;}
input[type="file"]:hover{color:orange; cursor: pointer;}
.join-p{margin:5px 0 0 0; font-size:1vw; text-align:right; color:darkorange;}

/* login.html */
.error{font-size:1vw; color:darkorange;}

/* list.html */
.tableList{
		width:80%; margin: 0 auto; 
			border-radius: 20px; 
			border:2px solid gray; 
			padding: 5px;
			text-align:center;
			background: rgb(244, 244, 244);
		border-spacing: 10px;}
.tableList .createdate{font-size:1.4vw; color:#575757; padding:10px;}
.tableList tr{border:none;}
.tableList th{color:#575757; font-family: 'Mali', cursive;}
/* .tableList th{border-bottom:1px solid gray;} */
.tableList td {
		border-bottom:0.3px solid gray;
		border-radius: 30px;
		padding:3px;
}

.tableList tbody td a{color:gray;}
.tableList tbody td a:hover{color:darkorange;}
.tableList .B-content{
						padding: 0 20px;
						max-width:40vw; 
						overflow: hidden; 
						text-overflow: ellipsis; 
						white-space: nowrap;
						}
.tableList .B-title{padding: 0 20px; 
					max-width:10vw;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					}
		
.view_resign{text-decoration:none; font-weight:500; color:darkorange; }
.view_resign:hover{color:gray;}

/* detail.html */
.detail{width:80%; margin:0 auto;}

/* main.html */
#main_container{display:flex; justify-content: center; width:100%; margin: 0 auto;}
.sessionColor{color:orange;}

/* update.html */
.updateP{text-align:center; font-size:1.3vw;}
.updateP span{color: orange;}


/* ========================================
 
 			board !!!

===================================*/
/* write.html */
.writeForm{width:80%; margin: 0 auto; }
.writeForm table{display:flex; 
		justify-content: center; 
		background: linear-gradient(to top, rgb(210, 210, 210), rgb(253, 253, 253));
		border-radius: 20px;
		border: 1.7px solid gray;
		padding: 10px 0 10px 0;
		}
.writeForm td{padding:5px 0;}

/* .writeError{color:darkorange;  text-align:center; font-size:small; margin-bottom: 5px; } */

/* boardDetail.html */
.detailForm{width:80%; margin: 0 auto;
		display:flex; 
		justify-content: center; 
		background:#f0f0f0;
		border-radius: 20px;
		border: 1.7px solid gray;
		padding: 10px 0 10px 0;}

/* boardUpdate.html */
.detailForm input[type="button"]{font-weight:bolder; color:gray; }
.detailForm input[type="button"]:hover{color:orange; cursor: pointer; }

.detailForm tbody{
				display:flex;
				flex-direction: column;
   				align-items: center;}
.detailForm tbody tr{padding:5px 0;}		
.detailForm p{font-size:1.2vw; color:darkorange; margin:0;}
.detailForm textarea{width:30vw;}
.detailForm input{width:25vw;}
.detailForm .B-detail-btn{display:flex;}
.detailForm .B-detail-btn a{padding: 0 15px;}

/* boardDetail.html 댓글 영역 */
.board-reply{
	width:80%;
	margin: 0 auto;
	display:flex;   
	justify-content: center;
    flex-direction: column;
    align-items: center;
	margin-top:20px;
	padding:0 0 20px 0;
	background:#f0f0f0;
	border: 1.7px solid gray;
	border-radius: 20px;
}
.board-reply textarea{width:40vw; height:80px;}
.replylist{margin:0;}
.replylist .replycontent{margin:10px 0 0 0; }
.replyP{ padding-bottom:5px; font-size:1.2vw; margin:5px 0 5px 0;}

.reply-a-tag{
	display:flex;
	justify-content: space-evenly;
	width:10vw;
	font-size:1.2vw; 
	border-bottom:1px solid lightgray; 
	margin:5px 0 5px 0; 
	background: linear-gradient(to top, rgb(210, 210, 210), rgb(253, 253, 253));
	border-radius: 20px;
	}


/* pagelist.html */
.pageNumber{display:flex; justify-content: center; margin-top:19px; margin-bottom:30px;}
.pageNumber span.nowpage{color:orange; font-weight:bolder; padding: 0 10px;}
.pageNumber a{padding: 0 10px; font-weight:bolder; color:gray;}
.pageNumber a:hover{color:orange;}
/* pagelist 검색영역 */
#container .searchform{text-align:right; padding-right: 100px; margin-bottom:20px;}
#container .selectType{background: linear-gradient(to bottom, rgb(210, 210, 210), rgb(253, 253, 253));
						border-radius: 20px; border:none; color:gray;  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
						cursor:pointer;}
/* boardUpdate.html */
.updateBtn{width:300px;}

/*	인증 및 권한 페이지
	authMain.html 
*/	
.authMain{width:100%; text-align:center;}
.authMain p a{color:gray;}
.authMain p a:hover{color:orange;}

/* header.html */
#logo{font-size:2.5vw; padding:6px 0; border-radius:20px; background: #feedd3; width:100%;  
}
#logo a{color:#575757; font-family: 'Mali', cursive; letter-spacing:3px;}
#logo a:hover{color:orange;}
#logo h2{margin:0;}
.header-nav{ padding:0; margin:20px 0 0 0; display:flex; justify-content: center;}
.header-nav li{padding:5px; color:#575757;  font-size:1.5vw; }
.header-nav a{padding: 5px 10px; font-family: 'Mali', cursive; font-size:1.5vw;
				color: darkorange; 
				background: linear-gradient(to top, rgb(210, 210, 210), rgb(253, 253, 253));
				border-radius: 15px; 
				}
.header-nav a:hover{color: gray; }
.header-comment{text-align:center;}
.header-comment p{margin:15px 0 10px 0; color:lightgray; font-family: 'Mali', cursive; font-size:1.5vw; animation:blink 2s infinite;}
																					@keyframes blink{50%{opacity:0;}}

/* footer.html */
.footer-h2{margin:15px 0 25px 0; font-family: 'Mali', cursive;  font-size:3vw; }


   				